{% extends "pay/base.html" %}
{% block content %}
    <style>
        img {
        width: 150px;
        height: 150px;
        padding: 15px;
        }
        p {
        vertical-align:middle;
        margin:0 auto;
        }
        .btn {
        width: 140px;
        }
        .btn-danger{
        vertical-align:middle;
        margin:0 auto
        }
    </style>
<div class="container-2">
     <div class="row">
         <div class = "col">
             <div class="text-center">
             <img src="../static/images/pay_icon.png"><br><br>
             <a href="{% url 'payment_user' %}" class="btn btn-danger" role="button" name="billpay">Plateste Factura</a><br><br>
             </div>
         </div>
         <div class = "col">
             <div class="text-center">
             <img src="../static/images/invoices.png"><br><br>
             <a href="{% url 'payments' %}" class="btn btn-success" role="button" name="payedbills">Facturi Platite</a>
                 </div>
         </div>
     </div>
</div>
{% endblock content %}


