{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% include "users/home.html" %}
{% else %}
    <div class="container-4">
    <div class="content-section">
        <img class="img_logo" src="static/images/logo.png">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Autentificare
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-primary btn-lg btn-block" type="submit" id="login" name="login">Intra in cont</button>
            </div>
            <small class="text-muted">
                Nu aveti cont? <a class="ml-1" href="{% url 'register' %}">Inregistrati-va aici!</a><br>
                Ati uitat parola? <a href = "{%url 'password-reset' %}">Resetare Parola</a><br>           
                Plata directa a facturii fara cont: <a href="{% url 'payment' %}">-> PLATA FACTURA!</a>
                
            </small>
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}
