{% extends "pay/base.html" %}
{% block content %}
        <legend class="border-bottom mb-1"><b>ENERGOTERM TULCEA SA</b><br>Te-ai delogat cu succes!
                        </legend>
            <small class="text-muted">
                <a href="{% url 'login' %}" class="btn btn-success" role="button">Autentificare</a>
            </small>
{% endblock content %}
