{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
    .btn {
    width: 250px;
    }
    .btn-danger{
    vertical-align:middle;
    margin: 0 auto;
    }
    .container-2{
        width: 250px;
    }
</style>
{% if user.is_authenticated %}
<div class = "container-2">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Resetare Parola</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <br>
                <button class = "btn btn-primary btn-lg btn-block" type="submit">Resetati Acum Parola</button>
            </div>
        </form>
    </div>
</div>
{% else %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Resetare Parola</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-primary btn-lg btn-block" type="submit">Resetati acum parola</button>
            </div>
        </form>
    </div>
{% endif %}
{% endblock content %}