{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
    .btn {
    width: 200px;
    }
    .btn-danger{
    vertical-align:middle;
    margin:0 auto
    }
</style>
<div class = "container-2">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Resetare Parola</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-primary btn-lg btn-block" type="submit">Confirmati resetarea parola</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}