{% extends "pay/base.html" %}
{% block content %}
{% load static %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
</style>
    <div class="container-2">
        <div class="alert alert-success text-center" role="alert">
        Un email a fost trimis pe adresa dumneavoastra de mail cu instructiunile de resetare a parolei.
        <br><img class="mail-creation" src="http://127.0.0.1:8000/static/images/success_email.png"><br>
        </div>
    </div>
{% endblock content %}
