{% extends "pay/base.html" %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
    .btn {
    width: 200px;
    }
    .btn-danger{
    vertical-align:middle;
    margin:0 auto
    }
</style>
{% block content %}
    <div class="container-2">
    <div class="alert alert-info">
        Parola dumneavoastra a fost resetata.
    </div>
    <a href="{% url 'login' %}">Logati-va aici</a>
    </div>
{% endblock content %}