{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
    .btn {
    width: 250px;
    }
    .btn-danger{
    vertical-align:middle;
    margin:0 auto
    }
</style>
<head>
<title>Profile</title>
</head>
{% if not message and user.is_authenticated %}
            <!--FORM HERE-->
            <div class=container-2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-1">Informatii Profil
                    </legend>
                    {{ u_form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class = "btn btn-outline-info" type="submit">Actualizare</button>
                </div>
                <br>
                <div class="form-group">
                <a href="{% url 'password-reset' %}" class="btn btn-danger">Schimbare Parola</a>
                </div>
            </div>
            </form>        
{% endif %}
{% endblock content%}

