{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if not user.is_authenticated %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-1"><b>ENERGOTERM TULCEA SA</b><br>Creeaza un cont nou!
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type="submit" name="signup">Trimitere</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Aveti deja cont creat? <br>
                <a href="{% url 'login' %}" class="btn btn-success" role="button">Autentificare</a>
            </small>
        </div>
    </div>
{% else %}
{% include "users/home.html" %}
{% endif %}
{% endblock content %}