{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if not user.is_authenticated %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-1"><b>ENERGOTERM TULCEA SA</b><br>PLATA FACTURA
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type="submit">Trimitere</button>
            <p style ="width:300px; padding-top:5px;">*Completati cu atentie campurile de mai sus astfel incat informatiile
                sa corespunda in integritate cu detaliile facturii primite fizic.<br>
            *ClientId-ul poate fi gasit pe factura in partea dreapta la sectiunea C.I.F/C.N.P de sub randul
            Cumparator.</p>
        </div>
    </form>
</div>
{% else %}
<div class="content-section" style = "padding-top: 110px;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-1"><b>ENERGOTERM TULCEA SA</b><br>PLATA FACTURA
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type="submit">Trimitere</button>
            <p style ="width:300px;"><br>*Completati cu atentie campurile de mai sus astfel incat informatiile
                sa corespunda in integritate cu detaliile facturii primite fizic.</p>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}