{% extends "pay/base.html" %}
{% block content %}
<style>
	p {
    vertical-align:middle;
    margin:0 auto;
    }
    .container-2{
     padding-top: 140px;
     vertical-align:middle;
     }
    .container-3{
    text-align:center;
    vertical-align:middle;
    margin:0 auto;
    }
    img {
    width: 150px;
    height: 150px;
    padding: 10px;
    }
</style>
<div class="container-3">
<table id="t01" class="table-responsive-sm">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Cumparator</th>
        <th scope="col">Client ID</th>
        <th scope="col">Nr.Factura</th>
        <th scope="col">Suma</th>
        <th scope="col">Data Platii</th>
        </tr>
    </thead>

{% if all and user.is_authenticated %}
<tbody>
{% for item in all|dictsortreversed:"payment_date" %}

    <tr>
            <td>{{item.cumparator}}</td>
            <td>{{item.clientid}}</td>
            <td>{{item.numarfact}}</td>
            <td>{{ item.suma }}</td>
            <td>{{item.payment_date}}</td>
    </tr>
{% endfor %}

</tbody>
</table>

{% else %}
<p><center><b>Nu exista facturi platite online pe acest cont!</b></center></p>
{% endif %}
</div>
{% endblock content %}