{% extends "pay/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
}
</style>
{% if user.is_authenticated %}
<div class="container-2">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-1"><b>ENERGOTERM TULCEA SA</b><br>PLATA FACTURA
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type="submit">Trimitere</button>
            <p style ="width:300px; padding-top:5px;">*Completati cu atentie campurile de mai sus astfel incat informatiile
                sa corespunda in integritate cu detaliile facturii primite fizic.<br>
            *ClientId-ul poate fi gasit pe factura in partea dreapta la sectiunea C.I.F/C.N.P de sub randul
            Cumparator.</p>
        </div>
    </form>
</div>
</div>
{% endif %}
{% endblock content %}