{% extends "pay/base.html" %}
{% block content %}
<style>
    p {
    vertical-align:middle;
    margin:0 auto;
    }
</style>
<div class = 'container-2'>
{% if messages %}
<!--<div class="container-2">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            {{ message }}
        <img src="../static/images/success_email.png">
        </div>
    {% endfor %}
    <br>
</div>
<div class="container-3">
    <a href="{% url 'home' %}" class="btn btn-success" role="button">Pagina principala</a>
</div>
{% else %}
    <head> -->
        <!-- HTML meta refresh URL redirection -->
         <meta http-equiv="refresh"
        content="0; url={% url 'home' %}">
    </head>
</div>
{% endif %}
{% endblock content %}