{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--Required tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href ="{% static 'pay/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    {% if title %}
        <title>PayApp - {{ title }}</title>
    {% else %}
        <title>PayApp - Login</title>
    {% endif %} 

</head>
<body>
        {% if user.is_authenticated %}
        <div class="container">
            {% for message in messages %}
        <div class="container-2">
                <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                    {{ message }}
                <br><img class="mail-creation" src="../static/images/success_email.png"><br>
            </div>
        </div>
            {% endfor %}
        {% else %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                    {{ message }}
            <br><img class="mail-creation" src="../static/images/success_email.png"><br>
            </div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
        <!--if user is authenticated then use the header nav-bar -->
      {% if user.is_authenticated %}
        <div class ="container">
        <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #e3f2fd;">
                    <div class="container">
                        <p><b><center>ENERGOTERM SA TULCEA</b><br>Bine ai venit: {{ user.email }}</center></p>
                        <div class="container">
                        <p><a class="nav-item nav-link" href ="{% url 'home' %}">Home</a></p>
                        <p><a class="nav-item nav-link" href ="{% url 'profile' %}" name="profile">Profile</a></p>
                        <p><a class="nav-item nav-link" href ="{% url 'logout' %}">LogOut</a></p>
                        </div>
                    </div>
                </nav>
                </header>
        {% endif %} 
        <!-- content of the template -->
<main role="main" class="container"></main>
    {% block content %} {% endblock %}
        </div>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
        $('#t01').DataTable();
    } );
    </script>
    </div>
</main>
</body>
</html>