html, body {
    height: 100%;
}

p {
    vertical-align:middle;
    margin:0 auto;
}

html {
    display: table;
    margin: auto;
}

body {
    vertical-align: middle;
}

h4 {
font-size: 20px;
}

li {
font-size: 12px;
padding-left: 0px;
vertical-align: left;}

.alert {
width: 300px;
padding: 0px;
vertical-align: middle;
}

.alert-success{
width:300px;
padding: 2px;
}

.mail-creation {
width: 100px;
height: 100px;
}


.form-input-text
{
font-family: "Times New Roman", sans-serif !important;
}

.container-2 {
padding-top: 130px;
width: 300px;
}
.container-3 {
    padding-top: 130px;
    }

.img_logo {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

.form-group {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    padding-bottom: 5px;
    }
.container-4 {
    max-width: 350px;
}
.container-5 {
    max-width: auto;
    padding-top: 130px;
}

    